<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <meta charset="utf-8" name="viewport" content="width=device-width,intial-scale=1.0">
</head>

<body>
         
<div class="error_container">  
      <img src="/static/media/image2.6695af99.svg" style="height:100vh;width: 100vw;">
</div>
</body>
</html>


               
